html[dir="ltr"] .myAppDemoWT .myCustomButton.sapMBtn {
   margin-right: 0.125rem
}

html[dir="rtl"] .myAppDemoWT .myCustomButton.sapMBtn {
   margin-left: 0.125rem
}

.myAppDemoWT .myCustomText {
   display: inline-block;
   font-weight: bold;
}

.bigLabel {
   font-size: x-large !important;
}

.roundedBorders {
   border-radius: 6%;
}

.shadow {
   box-shadow: 2px 2px 5px grey;
}

.imgShadow {
   -webkit-box-reflect: below -10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
}

.backgroundGradient {
   background: rgb(255, 255, 255);
   background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(102,149,194,1) 100%);
}

.backgroundGradient2 {
   background: rgb(63, 81, 97);
   background: linear-gradient(180deg, rgba(63,81,97,1) 0%, rgba(154,192,227,1) 100%, rgba(27,46,152,1) 100%);
}

.boxBackground {
   background: rgb(67, 87, 105);
}

.mainMenuBoxBackground {
   background: rgba(67, 87, 105, 0.589);
}

.mainMenuShadow {
   box-shadow: 3px 3px 4px rgb(29, 29, 29);
}

.borderColourBlue {
   border-style: solid;
   border-width: 2px;
   border-color: rgb(67, 87, 105);
}

.textGray {
   color: #d9d9d9 !important;
}

.textBlack {
   color: #000000 !important;
}

.textBlue {
   color: #a6d2da !important;
}

.blueButton .sapMBtnInner.sapMBtnDefault {
   background-color: #3333ff !important;
   color: white !important;
}

.blueButton .sapMBtnInner.sapMBtnDefault:hover {
   background-color: #0000ff !important;
   color: white !important;
   transition: 0.2s;
}

.sapMSwt {
   width: 68px;
}

.sapMSwtOn div.sapMSwtHandle {
   left: 40px;
}

.sapMSwt {
   width: 68px;
}

.sapMSwtText {
   font-size: 10px;
   padding-right: 0.4em;
}

.sapMPanelContent {
   border: none !important;
}
